/*
Creator: Penelope Brody, Katia Omacht, Ewan Ward
Teacher: Mr. Crute
Description: Create stylesheet page
Date Created: September 15th, 2023
Date Last Modified: September 27th, 2023
*/

body {
  font-family: Georgia, Helvetica, sans-serif;
  background-color: #412964;
  height: 100vh;
  margin: 0;
}

.right{
  width: 100%;
  font-family: Georgia, Helvetica, sans-serif;
  background-color: #412964;
  height: 100%;
  margin: 3%;
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  height: 100%;
}
.pos{
  display: inline-block;
}


a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

  /*Set button hover opacity*/
  button:hover {
    opacity:1;
  }

  /*Set list styles*/
  li{
    list-style: none;
  }
  li::before{
    content: none;
  }
  li a:hover{
    color: #301934;
  }

#container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 5 auto; /* Center horizontally */
  margin-top: 2%
}

#my_title {
  font-size: 3.5vw;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 2%;
}

