body {
  font-family: Georgia, Helvetica, sans-serif;
  background-color: #412964;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  height: 100%;
}
.pos{
  display: inline-block;
}





.right {
  padding: 15px;
  height: 100%;
  background-color: #E3F8FF;
  overflow:hidden;
}



        
       


a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
