<style>
button{
    width:20%;
    height: 10%;
    font-size: 2vw;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20%;
    background-color: #FFFFE0;
  }




      button:hover{
        background-color: grey;
      }
    
      button:active{
        background-color:#282828;
      }

    #left_button{
    float:left;
    margin-left:14%;
  }

  #right_button{
    float:right;
    margin-right:14%;
  }
</style>

<div class = "right">
    <div id ="container-1">
        <h5 id="my_title">Administrator - <%="#{@current_user.first_name.titleize} #{@current_user.last_name.titleize} "%></h5>
    </div>

<form action="/new_user" method = "post">
<button id = "left_button" type = "submit" formaction = "/new_user" method = "post">Add New User</button>
</form>

<form action = "/remove_user" method = "post">
<button id = "right_button" type = "submit" formaction = "/edit_employees" method = "post"> Edit User</button>
<button id = "right_button" type = "submit" formaction = "/auto_clock" method = "post"> Auto Clock Out</button>

</form>

<form>
    <button type="button" onclick= "window.location.href = '/employee'"> <b>Clock In/Out</b></button>
</form>


</div>
    <form action="/login_process" method = "post">
        <button id = "sign_out" type = "submit" formaction = "/signout" method = "post"><b>Sign Out</b></button>
    </form>




