<!-- index.erb -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60%; 
}

.my_buttons{
  width: 20vw; 
  height: 100%;
  font-size: 2vw;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #FFFFE0;
}

button {
width: 20%;
height: 10%;
font-size: 2vw;
border-radius: 25px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
margin-top: 20px;
background-color: #FFFFE0;
}

button:hover {
  background-color: grey;
}

button:active {
  background-color: #282828;
}

#sign_out:hover{
background-color: grey;
}

#sign_out:active{
background-color: #282828;
}

#container-1 {
  margin-top: 0%;
}

#sign_out{
width: 94%;
margin-right: 4%;
margin-top: 36%
font-size: 2vw;
border-radius: 25px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
background-color: #FFFFE0;
}
</style>
<div class = "right">
<div id="container-1">
<% if @current_user != nil %>
  <h5 id="my_title">Welcome, <%="#{@current_user.first_name.titleize} #{@current_user.last_name.titleize} "%>!</h5>
<% else %>
<h5 id = "my_title">Employee</h5>
<% end %>
</div>
<div class="button-container">
  <form action="/login_process" method = "post">
    <button class = "my_buttons" id = "admin" type = "submit" formaction = "/clockin" method = "post"><b>Clock In</b></button>
  </form>
  <form action="/login_process" method = "post">
    <button class = "my_buttons" id = "employee" type = "submit" formaction = "/clockout" method = "post"><b> Clock Out</b></button>
  </form>

<form action="/resetpsw" method = "post">
      <button class = "my_buttons" id = "resetbtn" type = "submit" formaction = "/resetpsw" method = "post"><b>Reset Password</b></button>
  </form>
</div>

</div>
<form action="/login_process" method = "post">
<button id = "sign_out" type = "submit" formaction = "/signout" method = "post"><b>Sign Out</b></button>
</form> 
</div>
 
 
