<!-- index.erb -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>


  button{
    width:20%;
    height: 10%;
    font-size: 2vw;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20%;
    background-color: #FFFFE0;
  }
  button:hover{
    background-color: grey;
  }

  button:active{
    background-color:#282828;
  }

  #admin{
    float:left;
    margin-left:14%;
  }

  #employee{
    float:right;
    margin-right:14%;
  }

  .vertical-line {
    border-left: 20px solid black; 
    height: 80vh; /* Set the height to 100% of the viewport height to span the entire page */
    position: absolute; /* Position it absolutely to overlay the content */
    left: 50%; /* Place it in the center horizontally */
    top: 20; /* Align it with the top of the viewport */
  }
</style>
<div class = "right">
<div id="container-1">
<% if @current_user != nil %>
  <h5 id="my_title">Welcome, <%="#{@current_user.first_name.titleize} #{@current_user.last_name.titleize} "%>!</h5>
<% else %>
<h5 id = "my_title">Employee</h5>
<% end %>
</div>

<form action="/login_process" method = "post">
<button id = "admin" type = "submit" formaction = "/clockin" method = "post"><b>Clock In</b></button>
<%# <div class="vertical-line"></div> %>
<button id = "employee" type = "submit" formaction = "/clockout" method = "post"><b> Clock Out</b></button>
</div>
</form>
 
 
