<!-- index.erb -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
 #container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto; /* Center horizontally */
    margin-top: 2%
  }

  #my_title {
    font-size: 3.5vw;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 2%;
  }
</style>

<div id="container-1">
  <h5 id="my_title">Employee Pay Manager</h5>
</div>
