<!-- index.erb -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>


  button{
    width:20%;
    height: 10%;
    font-size: 2vw;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20%;
    background-color: #FFFFE0;
  }
  button:hover{
    background-color: grey;
  }

  button:active{
    background-color:#282828;
  }


  #employee{
    position:relative;
    margin: 0 auto;
    margin-top: 20%;
    display:block;
  }


</style>
<div class = "right">
<div id="container-1">
  <h5 id="my_title">Employee Pay Manager</h5>
</div>
<%# 

<button id = "employee" onclick = "window.location.href='/login'"" >LOG IN</button>
</div>
