<!DOCTYPE html>
<html>
<head>
      <title><%="#{@page_title}" %></title>
         <link rel="icon" type="image/x-icon" href="file:///Users/penelopebrody/Downloads/brush.svg">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/style/stylesheet.css" media="screen">
</head>
<style>



</style>
<body>
<div class="row">
  <div class="left">

  </div>

   <%=yield%>


  </div>
</div>  
</div> 
</body>
<script>
 
</script>
</html>