<!--
Creator: Penelope Brody, Katia Omacht, Ewan Ward
Teacher: Mr. Crute
Description: Create layout page for all erbs
Date Created: September 15th, 2023
Date Last Modified: September 27th, 2023
-->

<!DOCTYPE html>
<html>
<head>
    <!-- Set the page title dynamically -->
    <title><%= "#{@page_title}" %></title>

    <!-- Define the website favicon -->
    <link rel="icon" type="image/x-icon" href="file:///Users/penelopebrody/Downloads/brush.svg">

    <!-- Configure the viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include an external CSS stylesheet for styling -->
    <link rel="stylesheet" href="/style/stylesheet.css" media="screen">
</head>
<style>
    <!-- You can add additional CSS styles here if needed -->
</style>
<body>
    <div class="row">
        <div class="left"></div>
        <!-- Use the yield statement to insert content dynamically -->
        <%= yield %>
    </div>
</body>
</html>
